$pad: 1em
$font-stack: 'bungee', 'san-serif'

nav 
  display: flex
  height: 120px
  width: 100%
  font-family: $font-stack
  background-color: #4056A1
  color: #FFFFFF
  justify-content: space-between
  align-items: center
  position: fixed
  padding-right: $pad
  padding-left: $pad
  top: 0px

i 
  align-self: center
  padding: 5px


span
  font-family: $font-stack


.title 
  font-size: 40px


.write-tweet 
  display: flex
  flex-direction: column
